<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/latest/phpunit.xsd"
         backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="public/includes/vendor/ClassLoader/ClassLoader.class.php"
         cacheResult="false"
         cacheTokens="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         verbose="false">
  <!-- ... -->
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".class.php">public</directory>
      <exclude>
        <directory>public/includes/vendor</directory>
        <file>public/includes/Logger.class.php</file>
      </exclude>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-clover" target="/tmp/coverage.xml" />
    <log type="coverage-html" target="./metrics/coverage"
      lowUpperBound="50" highLowerBound="80"
    />
  </logging>
</phpunit>
